<!-- myapp/templates/account/email/email_confirmation.html -->
{% load i18n %}

{% blocktrans %}Hello from {{ site_name }}{% endblocktrans %}

{% blocktrans %}You're receiving this email because user {{ user.email }} has given your email address to register an account on our site.{% endblocktrans %}

{% blocktrans %}To confirm this is correct, please click the following link (or copy and paste the URL into your browser):{% endblocktrans %}

<a href="{{ activate_url }}">{{ activate_url }}</a>

{% blocktrans %}Thank you,{% endblocktrans %}
{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
